/* RESET */
[type='text'],
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[multiple],
textarea,
select {
  font-size: inherit !important;
  border-color: inherit !important;
}
a,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
dl {
  @apply !m-0 !color-base;
}

/* THEME */
:root {
  --bg: white;
  --tint: theme('colors.slate.50');
  --color: theme('colors.slate.800');
  --primary: theme('colors.blue.500');
  --border: theme('colors.slate.200');
}

html.dark,
[data-theme='dark'] {
  --bg: theme('colors.slate.800');
  --tint: theme('colors.slate.700');
  --color: theme('colors.slate.50');
  --primary: theme('colors.blue.400');
  --border: theme('colors.slate.600');
}

/* CUSTOM */
* {
  scrollbar-color: auto;
  scrollbar-width: auto;
  &::-webkit-scrollbar {
    @apply h-1 w-1;
  }
  &::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-$border rounded;
  }
}

body {
  @apply !theme-tint;

  .hover-scale {
    @apply transition ease-in-out duration-300 hover:scale-150;
  }
  .hover-larger {
    @apply transition-all ease-in-out duration-300 hover:(w-12 h-12);
  }
}
